<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/shoppingListStyle.css">
    <script src = '/socket.io/socket.io.js'></script>
</head>
<body style = 'margin:0'>
    <div id = 'topContainer'>
        <div id = 'bulkActionSection'>
            <input id = 'toDirectory' onclick = 'location.href = "./directory/"' type = 'submit' value = ''>
        </div>
        <div id = 'bulkActionSection'>
            <div id = 'bulkActionLoading'></div>
            <input id = 'removeTaken' type = 'submit' value = ''>
        </div>
        <div id = 'bulkActionSection'>
            <div id = 'bulkActionLoading'></div>
            <input id = 'removeAll' type = 'submit' value = ''>
        </div>
    </div>
    <div id = 'content'>
        <ul id = 'products'>
            <% for(let i = 0; i != products.length; i++){ %>
                <% if(i === 0 || products[i].category !== products[i-1].category){ %>
                    <h1><%=products[i].category.charAt(0).toUpperCase() + products[i].category.slice(1)%></h1>
                <% } %>
                <% if(products[i].taken === true){ %>
                    <li class = 'product taken' name = '<%=products[i].name%>' unit = '<%=products[i].unit%>'>
                <% } else { %>
                    <li class = 'product' name = '<%=products[i].name%>' unit = '<%=products[i].unit%>'>
                <% } %>
                    <span id = 'text'><%= products[i].name %></span>
                    <div id = parameterContainer>
                        <div id = 'loading'></div>
                        <span id = 'parameters'><%=products[i].quantity%> <%=products[i].unit%></span>
                    </div>
                </li>
            <% } %>
        </ul>
        <span style = 'visibility: hidden;'>bottom margin</span>
    </div>
<script src = "../shoppingList.js"></script>
</body>

</html>